<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/form.css">
    <title>Form</title>
</head>

<body>
    <header>
        <nav>
            <img src="../public/images/Header.PNG" alt="Header" id="head">
        </nav>
    </header>
    <main id="main">
        <div id="upper">
            <form action="" id="form">
                <div class="fields">
                    <h2 class="fieldhead">PASSENGER INFORMATION</h2>
                    <label for="" class="label">Full Name</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Gender</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Date of Birth</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Nationality</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    
                </div>
                <div class="fields">
                    <h2 class="fieldhead">CONTACT INFORMATION</h2>
                    <label for="" class="label">Phone Number</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Email Address</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">P.O.BOX Number</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Emergency Phone Number</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                </div>
                <div class="fields">
                    <h2 class="fieldhead">FLIGHT INFORMATION</h2>
                    <label for="" class="label">Passport Number</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Visa Document</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Departure City</label>
                    <br>
                    <input type="file">
                    <p>invalid</p>
                    <br>
                    <label for="" class="label">Destination City</label>
                    <br>
                    <input type="text">
                    <p>invalid</p>
                    <br>
                </div>
            </form>

        </div>
        <div id="lower"> 
            <div id="success">Form has been submitted successfully</div>
            <div id="sub"><input type="submit" value="SUBMIT" id="submitBtn" form="form"></div>
        </div>
    </main>
</body>

</html>