body{
    height: 90vh;
    font-size: 16px;
    margin: 0;
    
}

#head{
    width: 100%;
    margin: 0;
}
#main{
    /* display: flex; */
    height: 90%;
}
#upper{
    height: 90%;
}
#form{
    display: flex;
    height: 100%;
}
input,select{
    width: 80%;
    height: 40px;
    border: 1px solid;
    text-align: center;
}
p{
    margin: 0;
    margin-right: 70%;
    color: red;
}
.label{
    margin-right: 60%;
}
.fieldhead{
    border-bottom: dotted 1px #c00000;
    width: 100%;
    text-align: center;
    color: #c00000;
}

.fields{
    display: flex;
    flex-direction: column;
    width: 33%;
    border: dotted 2px #c00000;
    align-items: center;
    justify-content: center;
}



#lower{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
#success{
    width: 60%;
    height: 100%;
    display: flex;
    text-align: center;
    /* border: solid 1px green; */
}
#sub{
    width: 35%;
    
}
#submitBtn{
    width: 90%;
    height: 100%;
    background-color: #c00000;
}
